* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #981e32;
}

#construction-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cc-logo {
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto 20px auto;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate3d(0, 0, -1, 0deg)
    }
    to {
      transform: rotate3d(0, 1, 0, 359deg);
    }
  }

div#construction-wrapper > h1, div#construction-wrapper > h2 {
    font-family: monospace;
    color: white;
    text-align: center;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}
